@model List<string>
@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid" style="height:93%;">
    <div class="panel">
        <div class="container-fluid" style="padding-bottom:50px">
            <div class="topbar-left col-xs-6">
                <h3>Reporte de Caja Chica por Semanas</h3>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-xs-12 right">
                <label class="col-sm-1" for="cboBaseFiltro">Base</label>
                <div class="col-sm-4">
                    <select class="form-control" id="cboBaseFiltro" onchange="ObtenerObraxIdBase();ResetSemana();"></select>
                </div>
            </div>
            <div class="col-xs-12 right">
                <label class="col-sm-1" for="cboObraFiltro">Obra</label>
                <div class="col-sm-4">
                    <select class="form-control" id="cboObraFiltro" onchange="ObtenerSemanas()"></select>
                </div>
            </div>
            <div class="col-xs-12 right">
                <label class="col-sm-1" for="cboPeriodo">Periodo</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="cboPeriodo" value="2024" />
                </div>
            </div>
            <div class="col-xs-12 right">
                <label class="col-sm-1" for="cboTipoRegistroFiltro">Tipo Registro</label>
                <div class="col-sm-4">
                    <select class="form-control" id="cboTipoRegistroFiltro" disabled></select>
                </div>
            </div>
            <div class="col-xs-12 right">
                <label class="col-sm-1" for="cboSemana">N° Semana</label>
                <div class="col-sm-4">
                    <select class="form-control" id="cboSemana"></select>
                </div>
                <button class="btn btn-primary" style="margin-top:3px" onclick="ObtenerReporte()">Imprimir Reporte</button>
            </div>
        </div>
    </div>
</div>


@{
    Random rnd = new Random();
}

<script src="~/Scripts/InformeCajaChica/Listado.js?v=@rnd.Next(1, 1000 + 1)"></script>
<script src="~/Scripts/General.js"></script>
<script src="~/js/pdf/jspdf.min.js"></script>
<script src="~/js/pdf/faker.min.js"></script>
<script src="~/js/pdf/jspdf.plugin.autotable.src.js"></script>


