@model List<string>
@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid" style="height:93%;">
    <div class="panel">
        <div class="container-fluid">
            <div class="topbar-left col-xs-6">
                <h3>Semanas</h3>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-xs-6">
                <div class="topbar-left col-xs-6">
                    <h4 style="font-size:1.2em;">Total de Registros: <span id="spnTotalRegistros"></span></h4>
                </div>
            </div>
            <div class="col-xs-6 right">
                <button class="btn btn-sm btn-primary pull-right plu" data-target="modal1" onclick="ModalNuevo()" style="margin-left:10px;">Nuevo</button>
                @*<button class="btn btn-sm  btn-success pull-right plu" id="btnPdf" style="margin-left:10px;">Descargar PDF</button>
                <button class="btn btn-sm btn-info pull-right plu" id="btnExcel" style="margin-left:10px;">Descargar Excel</button>*@
            </div>
            <div class="col-xs-12 right">
                <label class="col-sm-1" for="cboBaseFiltro">Base</label>
                <div class="col-sm-3">
                    <select class="form-control" id="cboBaseFiltro" onchange="ObtenerObraxIdBase()"></select>
                </div>
            </div>
            <div class="col-xs-12 right">
                <label class="col-sm-1" for="cboObraFiltro">Obra</label>
                <div class="col-sm-3">
                    <select class="form-control" id="cboObraFiltro" onchange="ObtenerSemanas();"></select>
                </div>
            </div>
            <div class="col-xs-12 right">
                <label class="col-sm-1" for="cboPeriodo">Periodo</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" id="cboPeriodo" value="2024"/>
                </div>
            </div>
            <div class="col-xs-12 right">
                <label class="col-sm-1" for="cboTipoRegistroFiltro">Tipo Registro</label>
                <div class="col-sm-3">
                    <select class="form-control" id="cboTipoRegistroFiltro" onchange="ObtenerSemanas();"></select>
                </div>
                @*<button class="btn btn-primary" style="margin-top:3px" onclick="ObtenerSemanas();">Buscar</button>*@
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="container-fluid">
            <table id="table_id" class="table" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tipo Registro</th>
                        <th>Obra</th>
                        <th>Año</th>
                        <th>Semana</th>
                        <th>Codigo</th>
                        <th>Fecha Inicial </th>
                        <th>Fecha Final </th>
                        <th>Fondo </th>
                        <th>Estado </th>
                        <th>Mas</th>
                    </tr>
                </thead>
                <tbody id="tbody_Series"></tbody>
            </table>
        </div>
    </div>




    <div id="modal-form" class="popup-md allcp-form mfp-with-anim mfp-hide">
        <div class="panel">
            <div class="panel-heading">
                <h5 id='lblTituloModal'></h5>
            </div>
            <div class="panel-body ">

                <div class='col s12 m12 '>
                    <div class='container-fluid'>
                        <div class='form-horizontal'>

                            <div class="row pl30 pr30">
                                <div class="col-lg-6 col-sm-6 ">

                                    <div class="row">
                                        <div class='form-group-sm'>
                                            <label for="cboRegistro" class="col-sm-3 col-form-label">Tipo Registro</label>
                                            <div class="col-sm-9">
                                                
                                                <select id="cboTipoRegistro" type="text" class="form-control input-sm" tabindex="3" onchange="ocultarMonto()"></select>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class='form-group-sm'>
                                            <label for="Anio" class="col-sm-3 col-form-label">Año</label>
                                            <div class="col-sm-9">
                                                <input id='txtId' name="txtId" type='hidden' class="form-control input-sm">
                                                <input type="text" class="form-control" id="Anio" placeholder="Ingrese el año">
                                            </div>

                                        </div>

                                    </div>
                                  
                                    <div class="row">
                                        <div class='form-group-sm'>
                                            <label for="DateFechaInicial" class="col-sm-3 col-form-label">Fecha Inicial</label>
                                            <div class="col-sm-9">
                                                <input id="DateFechaInicial" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" class="form-control input-sm" tabindex="10">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class='form-group-sm' id="divFondo">
                                            <label for="txtFondo" class="col-sm-3 col-form-label">Fondo</label>
                                            <div class="col-sm-9" >
                                                <input type="text" class="form-control" id="txtFondo" placeholder="Ingrese Fondo">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 pl20">
                                    <div class="row">
                                        <div class='form-group-sm'>
                                            <label for="cboObra" class="col-sm-3 col-form-label">Obra</label>
                                            <div class="col-sm-9">
                                                <select id="cboObra" type="text" class="form-control input-sm" tabindex="3"></select>

                                            </div>

                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class='form-group-sm'>

                                            <label for="NroSemana" class="col-sm-3 col-form-label">Semana</label>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" id="NroSemana" placeholder="Ingrese la semana">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class='form-group-sm'>
                                            <label for="DateFechaFinal" class="col-sm-3 col-form-label">Fecha Final</label>
                                            <div class="col-sm-9">
                                                <input id="DateFechaFinal" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" class="form-control input-sm" tabindex="10">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='form-group-sm'>
                                            <label for="txtCorrelativo" class="col-sm-3 col-form-label">Código</label>
                                            <div class="col-sm-9">
                                                <input id="txtCorrelativo" value="Autogenerado" type="text" class="form-control input-sm" tabindex="10" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                                
                            </div>
                            <div class="row pl30 pr30">
                                <div class="checkbox-custom col-xs-6">

                                    <input type="checkbox" id="chkActivo">
                                    <label for="chkActivo">Activo</label>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>

               
               
            </div>
            <div class="panel-footer text-right">
                <div class="row">
                    <button type="button" id="btnGrabar" onclick="Guardar()" class="btn btn-primary pull-right plu">Grabar</button>
                    <button type="button" id="btnCancelar" class="btn btn-danger pull-right" style="background-color:orange;" onclick="closePopup();">Cancelar</button>
                </div>
            </div>
        </div>
    </div>



</div>

@{
    Random rnd = new Random();
}

<script src="~/Scripts/TipoRegistro/Semana.js?v=@rnd.Next(1, 1000 + 1)"></script>
<script src="~/Scripts/General.js"></script>
<script src="~/js/pdf/jspdf.min.js"></script>
<script src="~/js/pdf/faker.min.js"></script>
<script src="~/js/pdf/jspdf.plugin.autotable.src.js"></script>


