@{
    ViewBag.Title = "GuiaSinFactura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="height:93%;">

    <div class="panel">
        <div class="container-fluid">
            <div class="topbar-left col-xs-6">
                <h3>REPORTE DE FACTURAS PENDIENTE DE ENVIO A SAP</h3>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="container-fluid">

            <a id="reporteRPT" style="display:none"></a>
            <div class="panel-footer">


                <div class="row">
                    <div class='form-group-sm'>
                        <label for="txtFechaInicio" class="control-label col-sm-2 left-align">Fecha Inicio</label>
                        <div class="col-sm-4">
                            <input class="form-control input-sm" type="date" id="txtFechaInicio" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class='form-group-sm'>
                        <label for="txtFechaFin" class="control-label col-sm-2 rigth-align">Fecha Fin</label>
                        <div class="col-sm-4">
                            <input class="form-control input-sm" type="date" id="txtFechaFin" />
                        </div>
                    </div>
                </div>
                @*  <div class="row">
                <div class='form-group-sm'>
                <label for="IdBase" class="control-label col-sm-2 left-align">Base</label>
                <div class="col-sm-4">
                <select class="form-control input-sm" id="IdBase" onchange="CargarObra()"></select>
                </div>
                </div>
                </div>*@
                <div class="row">
                    <div class='form-group-sm'>
                        <label for="IdObra" class="control-label col-sm-2 left-align">Obra</label>
                        <div class="col-sm-4">
                            <select class="form-control input-sm" id="IdObra"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class='form-group-sm'>
                        <label for="IdTipoRegistro" class="control-label col-sm-2 rigth-align">Tipo Registro</label>
                        <div class="col-sm-4">
                            <select id="IdTipoRegistro" class="form-control input-sm" tabindex="1">
                                <
                            </select>
                        </div>
                    </div>
                </div>


            @*    <div class="col-xs-12">
                    <input type="radio" id="rptResumido" name="TipoReporte" checked />
                    <label style="font-size:1.5rem" for="rptResumido">Reporte Resumido</label>

                </div>
                <div class="col-xs-12">

                    <input type="radio" id="rptDetallado" name="TipoReporte" />
                    <label style="font-size:1.5rem" for="rptDetallado">Reporte Detallado</label>
                </div>
                <div class="col-xs-12">

                    <input type="radio" id="rptOrdenadoServicio" name="TipoReporte" />
                    <label style="font-size:1.5rem" for="rptOrdenadoServicio">Reporte Ordenado Por Servicio</label>
                </div>
                <div class="col-xs-12">

                    <input type="radio" id="rptOrdenadoServiciorResumido" name="TipoReporte" />
                    <label style="font-size:1.5rem" for="rptOrdenadoServiciorResumido">Reporte Ordenado Por Servicio Resumido</label>
                </div>
                <div class="col-xs-12">

                    <input type="radio" id="rptOrdenadoServiciorCCSAP" name="TipoReporte" />
                    <label style="font-size:1.5rem" for="rptOrdenadoServiciorCCSAP">Reporte Resumido por Cuenta Contable SAP</label>
                </div>*@
                <div class="row">
                    <button type="button" id="btnReporte" class="btn btn-primary pull-centers plu" onclick="GenerarReporte('pdf')">Generar Reporte PDF</button>
                    <button type="button" id="btnReporte" style="background-color:green" class="btn btn-primary pull-centers plu" onclick="GenerarReporte('excel')">Generar Reporte Excel</button>
                </div>
            </div>

        </div>
    </div>

</div>
@{
    Random rnd = new Random();
}



<script src="~/Scripts/FacturaProveedor/ReportePendienteEnvioSAP.js?v=@rnd.Next(1, 1000 + 1)"></script>
<script src="~/Scripts/General.js"></script>
<script src="~/js/pdf/jspdf.min.js"></script>
<script src="~/js/pdf/faker.min.js"></script>
<script src="~/js/pdf/jspdf.plugin.autotable.src.js"></script>
