@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .tl:hover {
        color: black;
        font-weight: bold;
        cursor: pointer;
    }
</style>

<div class="container-fluid" style="height:93%;">
    <div class="panel">
        <div class="container-fluid">
            <div class="topbar-left col-xs-6">
                <h3>Configuracion Sociedad</h3>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-xs-6">
            </div>
        </div>
    </div>

    <div class="panel">
        <div class='col s12 m12 '>
            <div class='container-fluid'>
                <input id='txtId' name="txtId" type='hidden' class="form-control input-sm">
                <div class='form-horizontal'>
                    

                    <div class="row">
                        <div class='form-group-sm'>
                            <label for='txtRuc' class="control-label col-sm-4 left-align">RUC</label>
                            <div class="col-sm-5">
                                <input id='txtRuc' name="txtRuc" type='text' class="form-control input-sm" tabindex="1">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class='form-group-sm'>
                            <label for='txtRazonSocial' class="control-label col-sm-4 left-align">Razon Social</label>
                            <div class="col-sm-5">
                                <input id='txtRazonSocial' name="txtRazonSocial" type='text' class="form-control input-sm" tabindex="2">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class='form-group-sm'>
                            <label for='txtDireccion' class="control-label col-sm-4 left-align">Direccion</label>
                            <div class="col-sm-5">
                                <input id='txtDireccion' name="txtDireccion" type='text' class="form-control input-sm" tabindex="2">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class='form-group-sm'>
                            <label for='txtNombreBaseDatosSap' class="control-label col-sm-4 left-align">Nombre BD SAP</label>
                            <div class="col-sm-5">
                                <input id='txtNombreBaseDatosSap' name="txtNombreBaseDatosSap" type='text' class="form-control input-sm" tabindex="2">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class='form-group-sm'>
                            <label for='txtAlias' class="control-label col-sm-4 left-align">Alias Base Datos</label>
                            <div class="col-sm-5">
                                <input id='txtAlias' name="txtAlias" type='text' class="form-control input-sm" tabindex="2">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class='form-group-sm'>
                            <label for='ctaAsocFT' class="control-label col-sm-4 left-align">Cuenta Asociada para Facturas</label>
                            <div class="col-sm-5">
                                <input id='ctaAsocFT' name="ctaAsocFT" type='text' class="form-control input-sm" tabindex="2">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class='form-group-sm'>
                            <label for='ctaAsocNC' class="control-label col-sm-4 left-align">Cuenta Asociada para Nota de Crédito</label>
                            <div class="col-sm-5">
                                <input id='ctaAsocNC' name="ctaAsocNC" type='text' class="form-control input-sm" tabindex="2">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class='form-group-sm'>
                            <label for='txtBasePortalProv' class="control-label col-sm-4 left-align">Base de Datos del Portal Proveedores</label>
                            <div class="col-sm-5">
                                <input id='txtBasePortalProv' name="txtBasePortalProv" type='text' class="form-control input-sm" tabindex="2">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class='form-group-sm'>
                           
                            <div class="col-sm-5">
                               <button class="btn btn-primary btn-xs" onclick="GuardarConfiguracion()">Guardar</button>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

</div>
@{
    Random rnd = new Random();
}


<script src="~/Scripts/ConfiguracionSociedad/Index.js?v=@rnd.Next(1, 1000 + 1)"></script>
@*<script src="~/Scripts/General.js"></script>
<script src="~/js/pdf/jspdf.min.js"></script>
<script src="~/js/pdf/faker.min.js"></script>
<script src="~/js/pdf/jspdf.plugin.autotable.src.js"></script>*@



