@{
    ViewBag.Title = "CompraAnual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="height:93%;">

    <div class="panel">
        <div class="container-fluid">
            <div class="topbar-left col-xs-6">
                <h3>Compra Proveedor</h3>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="container-fluid">

            <a id="reporteRPT" style="display:none"></a>
            <div class="panel-footer text-left">

                <div class="row">
                    <div class='form-group-sm'>
                        <label for="IdProveedor" class="control-label col-sm-2 left-align">Codigo Proveedor</label>
                        <div class="col-sm-4">
                            <select class="form-control input-sm" id="IdProveedor"></select>
                        </div>
                    </div>
                    <div class='form-group-sm' style="display:none">
                        <label for="cboTipoPersona" class="control-label col-sm-2 rigth-align">Tipo Persona</label>
                        <div class="col-sm-4">
                            <select id="IdTipoProducto" class="form-control input-sm" tabindex="1">
                                <option value="1">Materiales</option>
                            </select>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class='form-group-sm'>
                        <label for="FechaInicio" class="control-label col-sm-2 left-align">Fecha Inicial</label>
                        <div class="col-sm-4">
                            <input id="FechaInicio" type="date" class="form-control input-sm" tabindex="0">
                        </div>
                    </div>
                    <div class='form-group-sm'>
                        <label for="FechaFinal" class="control-label col-sm-2 rigth-align">Fecha Fin</label>
                        <div class="col-sm-4">
                            <input id="FechaFinal" type="date" class="form-control input-sm" tabindex="0">
                        </div>
                    </div>
                </div>



                
                <div class="row">
                    <button type="button" id="btnReporte" class="btn btn-primary pull-centers plu" onclick="GenerarReporteCompraProveedor('pdf')">Generar Reporte</button>
                    <button type="button" id="btnReporte" class="btn btn-success pull-centers plu" style="background-color:green" onclick="GenerarReporteCompraProveedor('excel')">Generar Excel</button>
                </div>
            </div>

        </div>
    </div>

</div>

<script src="~/Scripts/ReporteLogistica/CompraProveedor.js"></script>
<script src="~/Scripts/General.js"></script>
<script src="~/js/pdf/jspdf.min.js"></script>
<script src="~/js/pdf/faker.min.js"></script>
<script src="~/js/pdf/jspdf.plugin.autotable.src.js"></script>


