@{
    ViewBag.Title = "CompraAnual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="height:93%;">

    <div class="panel">
        <div class="container-fluid">
            <div class="topbar-left col-xs-6">
                <h3>ReporteKardex Tributario</h3>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="container-fluid">

            <a id="reporteRPT" style="display:none"></a>
            <div class="panel-footer text-left">
               @* <div class="row">
                    <div class='form-group-sm'>
                        <label for="cboTipoArticulo" class="control-label col-sm-1 rigth-align">Tipo Material</label>
                        <div class="col-sm-5">
                            <select id="cboTipoArticulo" class="form-control input-sm" tabindex="1">
                                <option value="1">Materiales</option>
                                <option value="2">Auxiliares</option>
                            </select>
                        </div>
                    </div>
                </div>*@
                <div class="row">
                    <div class='form-group-sm'>
                        <label for="IdObra" class="control-label col-sm-1 left-align">Obra</label>
                        <div class="col-sm-5">
                            <select class="form-control input-sm" id="IdObra" onchange="CargarAlmacen()"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class='form-group-sm'>
                        <label for="IdAlmacen" class="control-label col-sm-1 left-align">Almacen</label>
                        <div class="col-sm-5">
                            <select class="form-control input-sm" id="IdAlmacen">
                              
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class='form-group-sm'>
                        <label for="txtAnio" class="control-label col-sm-1 left-align">Año</label>
                        <div class="col-sm-2">
                            <select class="form-control input-sm" id="txtAnio"></select>
                        </div>
                        <label for="txtMes" class="control-label col-sm-1 left-align">Mes</label>
                        <div class="col-sm-2">
                            <select class="form-control input-sm" id="txtMes"></select>
                        </div>
                    </div>
                </div>
              
                <div class="row">
                    <div class='form-group-sm'>
                        <label for="txtCodigoOP" class="control-label col-sm-1 left-align">Codigo Operacion</label>
                        <div class="col-sm-5">
                            <input class="form-control input-sm" maxlength="40" id="txtCodigoOP" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class='form-group-sm'>
                        <label for="cboLetraInicial" class="control-label col-sm-1 left-align">Letra Inicial del Correlativo</label>
                        <div class="col-sm-5">
                            <select class="form-control input-sm" id="cboLetraInicial">
                                <option value="M">M</option>
                                <option value="A">A</option>
                                <option value="C">C</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="button" id="btnReporte" style="background-color:green" class="btn btn-primary pull-centers plu" onclick="GenerarExcel()">Generar Reporte Excel</button>
                </div>
            </div>

        </div>
    </div>

</div>

@{
    Random rnd = new Random();
}

<script src="~/Scripts/InformeKardex/KardexTributario.js?v=@rnd.Next(1, 1000 + 1)"></script>
<script src="~/Scripts/General.js"></script>
<script src="~/js/pdf/jspdf.min.js"></script>
<script src="~/js/pdf/faker.min.js"></script>
<script src="~/js/pdf/jspdf.plugin.autotable.src.js"></script>


