@using Microsoft.AspNetCore.Http
@using Karambolo.AspNetCore.Bundling.ViewHelpers
@addTagHelper *, Karambolo.AspNetCore.Bundling
@inject IHttpContextAccessor Accessor
@{
    Layout = null;
}
@using DTO;

@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table th {
        color: white;
        border-color: #bcecf1;
        background-color: #2d4b67;
    }

</style>

<div class="container-fluid" style="height:93%;">
    <div class="panel">
        <div class="container-fluid">
            <div class="topbar-left col-xs-6">
                <h3>Articulo</h3>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-xs-6">
                <div class="topbar-left col-xs-6">
                    <h4 style="font-size:1.2em;">Total de Registros: <span id="spnTotalRegistros"></span></h4>
                </div>
            </div>
            <div class="col-sm-2 right">
                <button class="btn btn-sm btn-info pull-right" id="btn_agregaritem" onclick="OpenModalImportacion()" style="display:none" type="button">Importar Articulos Excel</button>
            </div>
            <div class="col-sm-2 right">
                <button class="btn btn-sm btn-info pull-right" id="btn_agregaritem" onclick="OpenModalImportacionArtProv()" style="display:none" type="button">Importar Precio x Prov Excel</button>
            </div>
            <div class="col-xs-2 right">
                <button class="btn btn-sm  btn-primary pull-right plu" data-target="modal1" id="btnNuevoArt" onclick="ModalNuevo()" style="margin-left:10px;">Nuevo</button>
                @*<button class="btn btn-sm  btn-success pull-right plu" id="btnPdf" style="margin-left:10px;">Descargar PDF</button>
                <button class="btn btn-sm btn-info pull-right plu" id="btnExcel" style="margin-left:10px;">Descargar Excel</button>*@
            </div>

        </div>
    </div>
    <div class="panel">
        <div class="container-fluid">

            <table id="table_id" class="table" style="width:100%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Codigo</th>
                        <th>Desripcion1</th>
                        <th>Descripcion2</th>
                        <th>Unid. Medida Inv.</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tbody_Articulos"></tbody>
            </table>

        </div>
    </div>

    <!-- Modal -->
    <!-- Modal -->
    <div id="modal-form" class="popup-xl allcp-form mfp-with-anim mfp-hide modal-articulos">
        <div class="panel panel-info ">
            <div class="panel-heading">
                <h5 id='lblTituloModal'></h5>
            </div>
            <div class="panel-body ">
                <div class='col s12 m12 '>
                    <div class='container-fluid'>
                        <div class='form-horizontal'>

                            <div class="row pl30 pr30">
                                <div class="col-sm-12">
                                    <div class="form-group-sm" style="display:none;">
                                        <input placeholder='' id='txtId' type='text' style="display:none;">
                                    </div>
                                    <div class="row">
                                        <div class='form-group-sm'>
                                            <label for='txtCodigo' class="control-label col-sm-1 left-align" style="padding-left:20px">Codigo</label>
                                            <div class="col-sm-2" style="padding-left:53px">
                                                <input id='txtCodigo' placeholder="Automatico" type='text' class="form-control input-sm" tabindex="1" disabled>
                                            </div>
                                        </div>
                                        <div class='form-group-sm'>
                                            <label for='cboIdUnidadMedida' class="control-label col-sm-1 left-align">CODIGO CUBSO</label>
                                            <div class="col-sm-7">
                                                <label class="col-sm-12">
                                                    <select id="cboIdCodigoUbso" style="width:100%" class="form-control input-sm" tabindex="5"></select>

                                                    <i class="arrow"></i>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <select id="cboIdUnidadMedida" name="cboIdUnidadMedida" tabindex="3" style="display:none"></select>
                                    @*  <div class="row">
                                    <div class='form-group-sm'>
                                    <label for='cboIdUnidadMedida' class="control-label col-sm-4 left-align">Unidad Medida</label>
                                    <div class="col-sm-8">
                                    <label class="field select">

                                    <i class="arrow"></i>
                                    </label>
                                    </div>
                                    </div>
                                    </div>
                                    *@


                                    @*      <div class="row">
                                    <div class='form-group-sm'>
                                    <label for='cboIdGrupoArticulo' class="control-label col-sm-4 left-align">Grupo Articulo</label>
                                    <div class="col-md-8">
                                    <label class="field select">
                                    <select id="cboIdGrupoArticulo" name="cboIdGrupoArticulo"></select>
                                    <i class="arrow"></i>
                                    </label>
                                    </div>
                                    </div>
                                    </div>
                                    *@

                                </div>
                                <div class="col-lg-8 col-sm-8 pl20">
                                    <div class="row">
                                        <div class='form-group-sm'>

                                            <label for='txtDescripcion1' class="control-label col-sm-2 left-align">Descripcion 1</label>
                                            <div class="col-md-10">
                                                <label class="field select">
                                                    <input id="txtDescripcion1" type="text" class="form-control input-sm" tabindex="2">
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class='form-group-sm'>


                                            <label for='txtDescripcion2' class="control-label col-sm-2 left-align">Descripcion 2:</label>
                                            <div class="col-md-10">
                                                <label class="field select">
                                                    <input id="txtDescripcion2" type="text" class="form-control input-sm" tabindex="4">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-lg-8 col-sm-8 pl20">
                                <div class="row">
                                <div class='form-group-sm'>
                                <label for='cboIdCodigoUbso' class="control-label col-sm-4 left-align">Codigo UBSO</label>
                                <div class="col-md-8">
                                <label classnu="field select">

                                </label>
                                </div>
                                </div>
                                </div>






                                </div>*@
                            </div>
                            <div class="row pl30 pr30">
                                <div class="row">
                                    <input id="ArtIdPerfil" hidden value="@Accessor.HttpContext.Session.GetInt32("IdPerfil").ToString()" />



                                    Tipo de Articulo:

                                    <div class="row">
                                        <div class="col-md-4">
   
                                            <div class="radio-custom col-xs-6">
                                              <input class="radioitem" type="radio" id="ArtInventario" name="TipoItem" checked />
                                              <label for="ArtInventario">Item Articulo Inventario</label>
                                            </div>                                            
                                        </div>
                                        <div class='col-md-4'>
                                            <div class="checkbox-custom col-xs-6">
                                                <input type="checkbox" id="chkArticuloCompra" name="c3" tabindex="8" />
                                                <label for="chkArticuloCompra">Articulo Compra</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">

                                            <div class="radio-custom col-xs-6">
                                                <input  class="radioitem" type="radio" id="ArtServicio" name="TipoItem" />
                                                        <label for="ArtServicio">Item Servicio</label>
                                            </div>
                                        </div>
                                     
                                        <div class='col-md-4'>
                                            <div class="checkbox-custom col-xs-6">
                                                <input  type="checkbox" id="chkArticuloVenta" name="c2" tabindex="7" />
                                                <label for="chkArticuloVenta">Articulo Venta</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                            <div class="col-md-4">

                                            <div class="radio-custom col-xs-6">
                                                <input class="radioitem" type="radio" id="ArtActivoFijo" name="TipoItem" />
                                                         <label for="ArtActivoFijo">Item Activo Fijo</label>
                                            </div>
                                        </div>
                                     
                                        <div class='col-md-4'>
                                            <div class="checkbox-custom col-xs-6">
                                                <input type="checkbox" id="chkActivoCatalogo" name="c3" tabindex="10" />
                                                <label for="chkActivoCatalogo">Activo Catalogo</label>
                                            </div>
                                        </div>


                                    </div>






                                </div>
                                <br />



                            </div>
                        </div>

                        <div class="row pl10 pr10">


                            <div class="tab-block mb10 mt20 ">
                                <ul class="nav nav-tabs tabs-border nav-justified">
                                    <li class="active">
                                        <a href="#tab15_1" data-toggle="tab">General </a>
                                    </li>
                                    <li style="display:none">
                                        <a href="#tab15_2" data-toggle="tab">Datos Compras</a>
                                    </li>

                                    <li>
                                        <a href="#tab15_4" data-toggle="tab">Datos Inventario</a>
                                    </li>

                                    <li>
                                        <a href="#tab15_5" data-toggle="tab">Articulo Por Proveedor</a>
                                    </li>
                                </ul>
                                <div class="tab-content pl15 pr15 ">
                                    <div id="tab15_5" class="tab-pane">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xs-2">
                                                    Proveedor:
                                                    <select id="IdProveedor" style="width:100%" class="form-control input-sm" style="width:100%" tabindex="0"></select>

                                                </div>
                                                <div class="col-xs-1">
                                                    Precio Soles:
                                                    <input type="text" id="PrecioSoles" class="form-control" placeholder="Precio Soles">
                                                </div>

                                                <div class="col-xs-1">
                                                    Precio Dolares:
                                                    <input type="text" id="PrecioDolares" class="form-control" placeholder="Precio Dolares">
                                                </div>
                                                <div class="col-xs-2">
                                                    Condicion de Pago:
                                                    <select id="IdCondicionPagoProveedor" class="form-control input-sm" style="width:100%" tabindex="0"></select>
                                                </div>
                                                <div class="col-xs-2">
                                                    Numero de Entrega:
                                                    <input type="text" id="numeroentrega" class="form-control" placeholder="Numero Entrega">
                                                </div>
                                                <div class="col-xs-1">
                                                    Precio:
                                                    <div class="col-xs-12">
                                                        <input type="radio" id="PrecioXGeneral" name="TipoPrecio" onclick="alertar()" checked />
                                                        <label style="font-size:1.5rem" for="PrecioXGeneral">General</label>

                                                    </div>
                                                    <div class="col-xs-12">

                                                        <input type="radio" id="PrecioXObra" name="TipoPrecio" onclick="alertar()" />
                                                        <label style="font-size:1.5rem" for="PrecioXObra">Por Obra</label>
                                                    </div>
                                                </div>

                                                <div class="col-xs-1">

                                                    <button class="btn btn-sm btn-success" onclick="addprecioproductoproveedor()" style="background-color:var(--colorN-primario)">Guardar</button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3" id="divObraArticulo">
                                                    Obra:
                                                    <select type="text" id="ObraArticulo" class="form-control"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <br />


                                        <div class="row">
                                            <table class="table table-bordered text-center">
                                                <thead>

                                                <th>Proveedor</th>
                                                <th>Soles</th>
                                                <th>Dolares</th>
                                                <th>Condicion Pago</th>
                                                <th>Numero de Dias Enrega</th>
                                                <th>Tipo de Precio</th>
                                                <th>Obra</th>
                                                <th>Opciones</th>
                                                </thead>
                                                <tbody id="tbody_tabledetalle_precioproveedor"></tbody>
                                            </table>


                                        </div>
                                    </div>
                                    <div id="tab15_1" class="tab-pane active">
                                        <div class="row">
                                            <div class="col-lg-4 pl20 pr40">
                                                <div class="row">

                                                    <div class='form-group-sm'>
                                                        <label for='cboClaseArticulo' class="control-label col-sm-4 left-align">Art. Gestionado por:</label>

                                                        <div class="col-md-8">

                                                            <label class="field select">
                                                                <select id="cboGestionado" name="country" tabindex="15_1">
                                                                    <option value="0">Ninguno</option>
                                                                    <option value="1">Lotes</option>
                                                                </select>
                                                                <i class="arrow"></i>
                                                            </label>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>





                                            <input id='txtComentario' type='hidden' class="form-control input-sm" tabindex="15_2">

                                            <div class="col-lg-8  pl20 pr20">

                                                <div class="row">
                                                    <div class='form-group-sm'>
                                                        <label for='txtDescripcion' class="control-label col-sm-4 left-align">Proveedor Por Defecto </label>
                                                        <div class="col-sm-7">
                                                            <select id="txtProveedor" class="form-control" name="txtProveedor" tabindex="1"></select>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div style="display:none">
                                                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" tabindex="15_3">Activo
                                                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="0" tabindex="15_4">Inactico
                                            </div>
                                            @* <div class="col-lg-4  pl20 pr20" style="display:none">
                                            <div class="row">

                                            <div class='form-group-sm col-sm-3'>
                                            <label class="radio-inline mr10">

                                            </label>
                                            </div>

                                            <div class='form-group-sm  col-sm-3'>
                                            <label class="radio-inline mr10">

                                            </label>
                                            </div>



                                            </div>
                                            </div>*@
                                        </div>
                                    </div>
                                    <div id="tab15_2" class="tab-pane" style="display:none">
                                        <div class="row">
                                            <div class="col-lg-6 pl20 pr60">
                                                <div class="row">
                                                    <div class='form-group-sm'>
                                                        <label for='txtDescripcion' class="control-label col-sm-7 left-align">proveedor por defecto </label>
                                                        <div class="col-sm-5">
                                                            <@*input id='txtProveedor' type='text' class="form-control input-sm" tabindex="1">*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class='form-group-sm'>
                                                        <label for='txtDescripcion' class="control-label col-sm-7 left-align">Nro Catalogo de fabricante </label>
                                                        <div class="col-sm-5">
                                                            <input id='txtNroCatalogo' type='text' class="form-control input-sm" tabindex="1">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class='form-group-sm'>
                                                        <label for='txtUnidadCompras' class="control-label col-sm-7 left-align">Unid. Medida de compras </label>
                                                        <div class="col-sm-5">
                                                            <input id='txtUnidadCompras' type='text' class="form-control input-sm" tabindex="1">
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>
                                            <div class="col-lg-6 pl60 pr20">
                                                <div class="row">
                                                    <div class='form-group-sm'>
                                                        <label for='txtDescripcion' class="control-label col-sm-7 left-align">Articulos  por Unidad de compras </label>
                                                        <div class="col-sm-5">
                                                            <input id='txtAUnidadCompras' type='text' class="form-control input-sm" tabindex="1">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class='form-group-sm'>
                                                        <label for='txtDescripcion' class="control-label col-sm-7 left-align">Nombre de Unidad de medida de embale </label>
                                                        <div class="col-sm-5">
                                                            <input id='txtAUnidadComprasEmbale' type='text' class="form-control input-sm" tabindex="1">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class='form-group-sm'>
                                                        <label for='txtDescripcion' class="control-label col-sm-7 left-align">Cantidad por paquete </label>
                                                        <div class="col-sm-5">
                                                            <input id='txtCantidadPorPaquete' type='text' class="form-control input-sm" tabindex="1">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div id="tab15_4" class="tab-pane">
                                        <div class="row">
                                            <div class="col-lg-6 pl20 pr40">
                                                <div class="row">
                                                    <div class='form-group-sm'>
                                                        <label for='txtDescripcion' cl class="control-label col-sm-7 left-align">Grupo Unidad Medida Base</label>
                                                        <div class="col-sm-5">
                                                            <select class="form-control" id="IdGrupoUnidadMedida" onchange="CargarDefinicionxGrupo()" tabindex="10_1">
                                                                <option value="0">Seleccione</option>
                                                            </select>
                                                            @*<input id='txtUnidadInventario' type='text' class="form-control input-sm" tabindex="1">*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class='form-group-sm'>
                                                        <label for='IdUnidadMedidaInv' class="control-label col-sm-7 left-align">Unidad Medida </label>
                                                        <div class="col-sm-5">
                                                            <select class="form-control" id='IdUnidadMedidaInv' class="form-control input-sm" tabindex="10_2">
                                                                <option value="0">Seleccione</option>
                                                            </select>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 pl20 pr40">
                                                <div class="row">
                                                    <div class='form-group-sm'>
                                                        <label for='cboCategoria' cl class="control-label col-sm-7 left-align">Categoria</label>
                                                        <div class="col-sm-5">
                                                            <select class="form-control" id="cboCategoria">
                                                                <option value="0">Seleccione</option>
                                                            </select>
                                                            @*<input id='txtUnidadInventario' type='text' class="form-control input-sm" tabindex="1">*@
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>


                                            <div class="col-lg-6  pl40 pr20" style="display:none">
                                                <div class="row">
                                                    <div class='form-group-sm'>
                                                        <label for='txtDescripcion' class="control-label col-sm-7 left-align">Necesario(UdM de Compras) </label>
                                                        <div class="col-sm-5">
                                                            <input id='txtNecesario' type='text' class="form-control input-sm" tabindex="10_3">
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">

                                                    <div class='form-group-sm'>
                                                        <label for='txtDescripcion' class="control-label col-sm-7 left-align">Minimo </label>
                                                        <div class="col-sm-5">
                                                            <input id='txtMinimo' type='text' class="form-control input-sm" tabindex="10_4">
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row">

                                                    <div class='form-group-sm'>
                                                        <label for='txtDescripcion' class="control-label col-sm-7 left-align">Maximo </label>
                                                        <div class="col-sm-5">
                                                            <input id='txtMaximo' type='text' class="form-control input-sm" tabindex="10_5">
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                        </div>

                                        <div class="row" id="TablaAlmacenes">
                                            <table id="table_inventario" class="table" style="width:100%;">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Almacen</th>
                                                        <th>Stock Minimo</th>
                                                        <th>Stock Maximo</th>
                                                        <th>Stock Alerta</th>
                                                        <th>Stock Actual</th>
                                                        <th>Accion</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbody_inventario">
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="row">
                                            <!--grilla-->
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
            <input type="hidden" id="hdfL" value="@ViewBag.Permiso" />
        </div>
        <div class="panel-footer text-left">
            <div class="row">
                <button type="submit" id="btnGrabar" onclick="GuardarArticulo(0)" class="btn btn-primary pull-left plu">Grabar</button>
                <button type="submit" id="btnCancelar" style="background-color:orange" class="btn btn-danger pull-left" onclick="closePopup();cerrarModalArticuloProveedor()">Cancelar</button>
            </div>
        </div>
    </div>




    <!-- Modal Importar excel-->
    <div class="modal fade" data-backdrop="static"
         data-keyboard="false" id="ModalImportarDatos" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered allcp-form" style="margin-top:120px" role="document">
            <div class="modal-content">


                <div class="panel" style="margin-bottom:0px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="lblTituloModalItem">Importar Productos</h5>
                    </div>
                    <div id="divSelectFile">
                        <div class="card-body" style="width:100%;display:flex;justify-content:center">

                            <div style="width:70%;height:300px;display:flex;flex-direction:column;justify-content:center;align-items:center">
                                <p>Seleccione un Archivo de Excel para Iniciar el Proceso</p>
                                <br />
                                <img src="~/assets/img/excel-logo.png" style="width:100px;height:100px" />
                                <br />
                                @using (Html.BeginForm("GuardarFile", "Articulo", FormMethod.Post, new { id = "CargarExcel", enctype = "multipart/form-data" }))
                                {
                                    <div class="col">
                                        <div class='col-md-12'>
                                            <div class="col-md-12">
                                                @*<label for="file">Subir Anexos</label>*@
                                                <input type="file" name="file" id="file" class="form-control" />
                                            </div>
                                        </div>
                                        <br>
                                        <div class='col-md-12' style="display:flex;flex-direction:column;justify-content:center;align-items:center">
                                            <div class="col-md-6">
                                                @*<label for="file">Subir Anexos</label>*@
                                                <input type="submit" value="Procesar Excel" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    @ViewBag.Message

                                }
                                <br />
                                <p>Puede descargar la Plantilla Excel Haciendo <a onclick="DescargarPlantilla()">Click Aqui</a></p>

                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-right" style="background-color:orange;" data-dismiss="modal" onclick="CerrarModalListadoAlmacen()">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Importar excel-->
    <div class="modal fade" data-backdrop="static"
         data-keyboard="false" id="ModalImportarDatosPrecioProv" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered allcp-form" style="margin-top:120px" role="document">
            <div class="modal-content">


                <div class="panel" style="margin-bottom:0px">
                    <div class="modal-header">
                        <h5 class="modal-title">Importar Precios Articulo - Proveedor</h5>
                    </div>
                    <div id="divSelectFile">
                        <div class="card-body" style="width:100%;display:flex;justify-content:center">

                            <div style="width:70%;height:300px;display:flex;flex-direction:column;justify-content:center;align-items:center">
                                <p>Seleccione un Archivo de Excel para Iniciar el Proceso</p>
                                <br />
                                <img src="~/assets/img/excel-logo.png" style="width:100px;height:100px" />
                                <br />
                                @using (Html.BeginForm("GuardarFile", "Articulo", FormMethod.Post, new { id = "CargarExcelPrecioProv", enctype = "multipart/form-data" }))
                                {
                                    <div class="col">
                                        <div class='col-md-12'>
                                            <div class="col-md-12">
                                                @*<label for="file">Subir Anexos</label>*@
                                                <input type="file" name="file" id="file" class="form-control" />
                                            </div>
                                        </div>
                                        <br>
                                        <div class='col-md-12' style="display:flex;flex-direction:column;justify-content:center;align-items:center">
                                            <div class="col-md-6">
                                                @*<label for="file">Subir Anexos</label>*@
                                                <input type="submit" value="Procesar Excel" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    @ViewBag.Message

                                }
                                <br />
                                @*<p>Puede descargar la Plantilla Excel Haciendo <a onclick="DescargarPlantilla()">Click Aqui</a></p>*@

                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-right" style="background-color:orange;" data-dismiss="modal" onclick="CerrarModalListadoAlmacen()">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


@*
     <div id="modal-form" class="popup-lg allcp-form mfp-with-anim mfp-hide">
        <div class="panel">
            <div class="panel-heading">
                <h5 id='lblTituloModal'></h5>
            </div>
            <div class="panel-body ">
                <div class='col s12 m12 '>
                    <div class='container-fluid'>


                        <div class="row">
                            <div class='form-group-sm'>
                                <label for="txtEmail" class="control-label col-sm-2 left-align">Codigo</label>
                                <div class="col-sm-4">
                                    <input id="txtCodigo" type="text" class="form-control input-sm" tabindex="15">
                                </div>
                            </div>
                            <div class='form-group-sm'>
                                <label for="txtWeb" class="control-label col-sm-2 left-align">Descripcion1</label>
                                <div class="col-sm-4">
                                    <input id="txtDescripcion1" type="text" class="form-control input-sm" tabindex="16">
                                </div>
                            </div>

                        </div>


                        <div class="row">

                            <div class='form-group-sm'>
                                <label for="txtFax" class="control-label col-sm-2 left-align">Descripcion2</label>
                                <div class="col-sm-4">
                                    <input id="txtDescripcion2" type="text" class="form-control input-sm" tabindex="17">
                                </div>
                            </div>

                             <div class='form-group-sm'>
                                <label for="cboIdUnidadMedida" class="control-label col-sm-2 left-align">Unidad Medida</label>
                                <div class="col-sm-4">
                                    <select id="cboIdUnidadMedida" class="form-control input-sm" tabindex="13"></select>
                                </div>
                            </div>

                        </div>
                        <div  class="row">

                            <div class='form-group-sm'>
                                <label for="cboCondicionPago" class="control-label col-sm-2 left-align">Codigo UBSO</label>
                                <div class="col-sm-4">
                                    <select id="cboIdCodigoUbso" class="form-control input-sm" tabindex="13"></select>
                                </div>
                            </div>

                            <div class='form-group-sm'>
                                <div class="checkbox-custom col-xs-3">
                                    <input type="checkbox" id="chkActivoFijo" />
                                    <label for="chkActivoFijo">Activo Fijo</label>
                                </div>
                            </div>

                            <div class='form-group-sm'>
                                <div class="checkbox-custom col-xs-3">
                                    <input type="checkbox" id="chkActivoCatalogo" />
                                    <label for="chkActivoCatalogo">Activo Catalogo</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer text-right">
            <div class="row">
                <button type="button" id="btnGrabar" onclick="GuardarArticulo()" class="btn btn-primary pull-right plu">Grabar</button>
                <button type="button" id="btnCancelar" class="btn btn-danger pull-right" style="background-color:orange;" onclick="closePopup();">Cancelar</button>
            </div>
        </div>
    </div>

   *@


@{
    Random rnd = new Random();
}

<script src="~/Scripts/Articulo/Listado.js?v=@rnd.Next(1, 1000 + 1)"></script>
<script src="~/Scripts/General.js"></script>
<script src="~/js/pdf/jspdf.min.js"></script>
<script src="~/js/pdf/faker.min.js"></script>
<script src="~/js/pdf/jspdf.plugin.autotable.src.js"></script>