@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        font-family: Arial;
    }

    .huser-20 {
        height: 20px;
    }

    #global {
        height: 500px;
        border: 1px solid #ddd;
        background: #f1f1f1;
        overflow-y: scroll;
        margin-left: 25px;
    }

    #mensajes {
        height: auto;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #bcecf1;
        background-color: #effafc;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 8px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #baecf5;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #baecf5;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>

<div class="container-fluid" style="height:93%;">
    <div class="panel">
        <div class="container-fluid">
            <div class="topbar-left col-xs-6">
                <h3>Conformidad Pedido</h3>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-xs-6">
                <div class="topbar-left col-xs-12">
                    <div class="row">
                        <div class='form-group-sm' style="display:none">
                            <input type="hidden" id="IdPedido" value="0"/>
                            <label for="TipoAlmacen" class="control-label col-sm-4 left-align">Tipo Almacen</label>
                            <div class="col-sm-3" >
                                <select id="TipoAlmacen" class="form-control input-sm" tabindex="0" onchange="listarPedidoDtConfirmidad()">
                                    <option value="1">Materiales</option>
                                    <option value="2">Auxiliares</option>
                                </select>

                            </div>
                        </div>

                        <div class='form-group-sm'>
                            <label for="Conformidad" class="control-label col-sm-2 rigth-align">Estado</label>
                            <div class="col-sm-3">
                                <select id="Conformidad" class="form-control input-sm" tabindex="0" onchange="listarPedidoDtConfirmidad()">
                                    <option value="0">Pendiente</option>
                                    <option value="1">Aprobado</option>
                                    <option value="2">Observado</option>
                                    <option value="3">Rechazado</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="panel">
        <div class="container-fluid">
            <p style="font-size:9px">(*)PARA SELECCIONAR UN REGISTRO TENDRA QUE REALIZAR 2 CLICK EN LA FILA DEL REGISTRO QUE DESEA EDITAR</p>

            <table id="table_id" class="table" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Proveedor</th>
                        <th>Numeracion</th>
                        <th>Base</th>
                        <th>Obra</th>
                        <th>Fecha</th>
                        <th>Tipo de Orden</th>
                        <th>Moneda</th>

                        <th>Total</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tbody_pedido"></tbody>
            </table>
        </div>
    </div>


    <!-- Modal -->
    <div id="modal-form" class="popup-xl allcp-form mfp-with-anim mfp-hide">
        <div class="panel">
            <div class="panel-heading">
                <h5 id='lblTituloModal'></h5>
            </div>
            <div class="panel-body ">
                <div class='col s12 m12 '>
                    <div class='container-fluid row'>

                        <div class='form-horizontal col-12 col-sm-12'>
                            <div class="form-group-sm" style="display:none;">
                                <input placeholder='' id='txtId' type='text' style="display:none;">
                                @*<input placeholder='' id='txtEstado' type='text' style="display:none;">*@
                            </div>

                            <div class="row">
                                <div class='form-group-sm'>
                                    <label for="IdBase" class="control-label col-sm-1 left-align">N° Pedido</label>
                                    <div class="col-sm-2">
                                        <input class="form-control input-sm" id="npedido" disabled />
                                    </div>
                                </div>

                                <div class='form-group-sm'>
                                    <label for="nombproveedor" class="control-label col-sm-1 left-align">Proveedor</label>
                                    <div class="col-sm-3">
                                        <input class="form-control input-sm" id="nombproveedor" disabled />
                                    </div>
                                </div>
                                <div class='form-group-sm'>
                                    <label for="fechapedido" class="control-label col-sm-1 left-align">Fecha Pedido</label>
                                    <div class="col-sm-3">
                                        <input class="form-control input-sm" id="fechapedido" disabled />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class='form-group-sm'>
                                    <label for="almacen" class="control-label col-sm-1 left-align">Almacen</label>
                                    <div class="col-sm-2">
                                        <input class="form-control input-sm" id="almacen" disabled />
                                    </div>
                                </div>

                                <div class='form-group-sm'>
                                    <label for="ConformidadModal" class="control-label col-sm-1 left-align">Estado</label>
                                    <div class="col-sm-3">

                                        <select id="ConformidadModal" class="form-control input-sm" tabindex="0">
                                            <option value="0">Pendiente</option>
                                            <option value="1">Aprobado</option>
                                            <option value="2">Observado</option>
                                            <option value="3">Rechazado</option>
                                        </select>

                                    </div>
                                </div>
                                <div class='form-group-sm'>
                                    <label for="fechapedido" class="control-label col-sm-1 left-align">Comentario</label>
                                    <div class="col-sm-3">
                                        <textarea class="form-control input-sm" rows="5" id="comentarioconformidad"></textarea> 
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Codigo</th>
                                            <th>Producto</th>
                                            <th>Cantidad</th>
                                            <th>Precio</th>
                                            <th>Moneda</th>
                                            <th>Total</th>
                                            <th>Pago</th>
                                            <th>Comentario</th>
                                            <th>Comentario Conformidad</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_pedidomodal"></tbody>
                                </table>

                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-6" style="color: red;font-weight: bold">
                    <p style="margin: 0px 0px 0px 0px">TOTAL DE ITEMS:  <span id="total_items"></span> </p>
                    <p style="margin: 0px 0px 0px 0px">USUARIO: <span id="NombUsuario"></span> </p>
                    <p style="margin: 0px 0px 0px 0px">FECHA DE  CREACION: <span id="CreatedAt"></span> </p>
                </div>

                <div class="col-sm-6">
                    <div class='form-group-sm'>

                        <button type="button" id="btnGrabar" onclick="GuardarPedidoConformidad()" class="btn btn-primary pull-right plu">Grabar</button>
                        <button style="display:none" type="button" id="btnNuevo" onclick="nuevo()" class="btn btn-primary pull-right plu">Nuevo</button>
                        <button type="button" id="btnCancelar" onclick="CerrarModal()" class="btn btn-danger pull-right" style="background-color:orange;">Cancelar</button>
                    </div>
                </div>
            </div>




            @*<div class="row">
            <button type="button" id="btnGrabar" onclick="GuardarSolicitud()" class="btn btn-primary pull-right plu">Grabar</button>
            <button type="button" id="btnCancelar" onclick="CerrarModal()" class="btn btn-danger pull-right" style="background-color:orange;">Cancelar</button>
            </div>*@
        </div>
    </div>



</div>


<script src="~/Scripts/Pedido/Conformidad.js"></script>
<script src="~/Scripts/General.js"></script>
<script src="~/js/pdf/jspdf.min.js"></script>
<script src="~/js/pdf/faker.min.js"></script>
<script src="~/js/pdf/jspdf.plugin.autotable.src.js"></script>


